<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Dating App</a>
        <!-- hide nav based on if user logged in or not using *nfIf=""
        *ngIf="accountService.currentUser$ | async"
        -->
          <ul class="navbar-nav mr-auto" >
            <ng-container *ngIf="accountService.currentUser$ | async">
              <li class="nav-item">
                <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/messages' routerLinkActive='active'>Messages</a>
              </li>

            </ng-container>
            <li class="nav-item">
              <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a>
            </li>
          </ul>
        <!-- add angular form (the function from nav.comp.ts ) 
        # templete reference from 

        two way binding to make our form work with angular 
        [(ngModel)]="binding"  , square and bracett means two way binding send/receive
        (ngsubmit)=login() , with bracet we goin from template to 

        using ngx bootrstap we import a module
        import { BsDropdownModule } from 'ngx-bootstrap/dropdown';
        BsDropdownModule.forRoot()

        added dropdown, dropdownToggle, *dropdownToggle
        -->
          
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.userName | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-diveder"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        <!-- *ngIf="(accountService.currentUser$ | async) === null" will show/hide login form if currentUser$ is null/not -->
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" 
         autocomplete="off">
            <input 
                name="username"
                [(ngModel)]="model.username"
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="Username" >
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="Password" >
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
          </form>
      </div>
     
</nav>
